@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{text-decoration: none; color:#000; cursor: pointer;}
ul{list-style-type: none;}

body{
    background:#f5f5f5;  
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}
.loader{
	height:100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:-99;
	background:  #99e2d0;
	color: #fff;
	animation: hideloader 2s forwards;
}
.indexprop{
	position: relative;
	z-index: 99;

}
.loader i{
	font-size: 40px;
	animation: loader 1s infinite;
}
@keyframes loader{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes hideloader{
	0%{
		opacity: 1;
		z-index: 999;
	}
	80%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		display: none;
		z-index:0;
	}
}
	#top{
		background:#fff; 
		padding: 15px 0;
		box-shadow: 0px 10px 10px -15px #000;
		position: relative;
	}
	.logo{
		width:200px;
		margin:0 auto;

	}
	.logo img{
		width:100%;
	}
	#location{
		padding:15px 0;
		text-align: center;
		background: #EAEAEA;
	}
	#booking{
		padding:25px 10px;
		text-align: center;
		background: #f6f6f6;
	}
	#booking p{
		margin:25px 0;
	}
	.btn{
		background: linear-gradient(#FF79DA, #9356DC);
		padding: 15px 25px;
		color:#fff;
		border: none;
		border-radius: 30px;
		cursor: pointer;
	}
	#how{
		background: #fff;
		padding:25px;
	}
	.how-item{
		display: block;
		border-radius: 10px;
		padding:20px;
		background: #f6f6f6;
		margin-top:15px;
		position: relative;
		box-shadow: 0px 2px 5px 0 #8b8b8b;
	}
	.how-item:hover{
		background: #f5edff;

	}
	.how-item:hover i{
		color:#9356DC;
	}
	.how-item span{
		position: absolute;
		width:25px;
		height:25px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: #9356DC;
		color: #fff;
		left:-10px;
	}
	.how-item i{
		margin-left:15px;
		margin-right: 20px;
		color:#565656;
	}
	#restaurants{
		padding:25px;
	}
	.card{
		border-radius: 10px;
		margin-top: 25px;
		display: block;
	}
	.card-img{
		position: relative;
		height:180px;
		border-radius: 10px 10px 0 0;
		overflow: hidden;
	}
	.card-img img{
		width:100%;
		height: 100%;
		object-fit: cover;
	}
	.card-img span{
		position: absolute;
		right:10px;
		top:10px;
		background: #99e2d0;
		color:#008766;
		padding: 10px 25px;
	}
	.card-body{
		padding:15px;
		display: flex;
		justify-content: space-between;
		border-radius: 0 0 10px 10px;
		align-items: center;
		background: #fff;
	}
	.wishlist{
		position: relative;
	}
	.wishlist .full{
		display: none;
	}
	.wishlist:hover .empty{
		display: none;
			cursor: pointer;
	}
	.wishlist:hover .full{
		display: block;
			cursor: pointer;
			color: #9356DC;
	}
	
	#footer{
		padding: 25px;
		background: #353535;

	}
	.footer-logo{
		width:120px;

	}
	.footer-logo img{
		width:100%;
		filter:brightness(50);
		margin-bottom: 20px;
	}
	#footer ul li a{
		color:#fff;
	}
	#footer ul{
		line-height: 1.8;
	}

	.back{
		position: absolute;
		left:35px;
		top:25px;
	}
	.featured{
		height:200px;
	}
	.featured img{
		width:100%;
		height:100%;
		object-fit: cover;
	}
	.page-body{
		padding:15px;
		display: flex;
		justify-content: space-between;
		border-radius: 0 0 10px 10px;
		align-items: center;
	}
	.details{
		padding: 20px;
		margin-top: -15px;
		border-radius: 15px 15px 0 0;
		position: relative;
		z-index: 9;
	}
	.heading{
		color:#565656;
		margin-top: 15px;
	}
	.heading h3 span{
		position: relative;

	}
	.heading h3 span:after{
		content: '';
		position: absolute;
		width:60%;
		left:0;
		bottom: -5px;
		height: 3px;
		background: #99E2D0;
	}
	.entree{
		background: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		margin-top:30px;
		border-radius: 15px;
		position: relative;
		opacity: 0;
		overflow: hidden;
		box-shadow: 0px 2px 5px 0 #8b8b8b;

	}
	.entree:hover{
		cursor: pointer;
	}
	.entree:hover h3, .entree:hover p {
		white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;

	}
	.entree-price{
		transition: .5s ease-in;
	}
	.check{
		position: absolute;
		right:-70px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 70px;
		background: #99e2d0;
		color: #fff;
		transition: .5s ease-in;
	}
	.check i{
		background: #fff;
		color:#99e2d0;
		padding: 5px;
		border-radius: 50%;
		transition: 0.8s ease-in;

	}
	.entree:hover .check{
		right:0;
	}
	.entree:hover .entree-price{
		margin-right: 80px;
	}
	.entree:hover .check i{
		transform: rotate(360deg);
	}
	.order-btn{
		background: linear-gradient(#FF79DA, #9356DC);
		width:150px;
		padding:15px 25px;
		display: block;
		margin:25px auto;
		color:#fff;
		border: none;
		border-radius: 30px;
		cursor: pointer;
	}
@keyframes slide{
	0%{
		opacity: 0;
		margin-top: 30px;		
	}
	20%{
		opacity:.5;
	}
	49%{
		opacity: 1;
	}
	100%{
		opacity: 1;
		margin-top: 25px;
	}
}
.one{
	animation: slide 2s forwards;
	animation-delay: 0.5s;
}
.two{
	animation: slide 1s forwards;
	animation-delay: 1s;
}
.three{
	animation: slide 1s forwards;
	animation-delay: 2s;
}