*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{text-decoration: none; color:#000; cursor: pointer;}
ul{list-style-type: none;}
body{
    background:#fff;  
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}
$bg-color : #99e2d0;
