@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.back {
  position: absolute;
  left: 35px;
  top: 25px;
}

.featured {
  height: 200px;
}
.featured img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.details {
  padding: 20px;
  border: 2px solid #fff;
  position: relative;
  z-index: 9;
  background-color: #f5f5f5;
}

.heading {
  color: #565656;
  margin-top: 15px;
}
.heading h3 span {
  position: relative;
}
.heading h3 span:after {
  content: "";
  position: absolute;
  width: 60%;
  left: 0;
  bottom: -5px;
  height: 3px;
  background: #99E2D0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-section {
  width: 30%;
}

.entree {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 30px;
  border-radius: 15px;
  position: relative;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0 #8b8b8b;
}
.entree:hover {
  cursor: pointer;
}
.entree:hover h3, .entree:hover p {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entree:hover .check {
  right: 0;
}
.entree:hover .check i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.entree:hover .entree-price {
  margin-right: 80px;
}

.entree-price {
  transition: 0.5s ease-in;
}

.check {
  position: absolute;
  right: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  background: #99e2d0;
  color: #fff;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}
.check i {
  background: #fff;
  color: #99e2d0;
  padding: 5px;
  border-radius: 50%;
  transition: 0.8s ease-in;
}

.order-btn {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 150px;
  padding: 15px 25px;
  display: block;
  margin: 25px auto;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.order-btn:hover {
  box-shadow: 1px 4px 6px #888888;
  background: linear-gradient(#e28ac9, #946ac7);
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: 30px;
  }
  20% {
    opacity: 0.5;
  }
  49% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    margin-top: 25px;
  }
}
.one {
  animation: slide 2s forwards;
  animation-delay: 0.5s;
}

.two {
  animation: slide 1s forwards;
  animation-delay: 1s;
}

.three {
  animation: slide 1s forwards;
  animation-delay: 2s;
}

.loader {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99;
  background: #99e2d0;
  color: #fff;
  animation: hideloader 2s forwards;
}
.loader i {
  font-size: 40px;
  animation: loader 1s infinite;
}

.indexprop {
  position: relative;
  z-index: 99;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideloader {
  0% {
    opacity: 1;
    z-index: 999;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
#top {
  background: #fff;
  padding: 15px 0;
  position: relative;
}

.back {
  font-size: 20px;
}

.logo {
  width: 200px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}

#location {
  padding: 15px 0;
  text-align: center;
  background: #EAEAEA;
  max-width: 768px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: inset 0 2px rgba(139, 125, 125, 0.262);
}

#booking {
  padding: 25px 10px;
  text-align: center;
}
#booking p {
  margin: 25px 0;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 25px;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 4px 6px #888888;
  background: linear-gradient(#e28ac9, #946ac7);
}

#how {
  background: #fff;
  padding: 25px;
  width: 30%;
  order: 2;
  background: #f5f5f5;
  border-radius: 20px;
}

.how-item {
  display: block;
  border-radius: 10px;
  padding: 20px;
  background: #f6f6f6;
  margin-top: 15px;
  position: relative;
  box-shadow: 0px 2px 5px 0 #8b8b8b;
}
.how-item:hover {
  background-color: rgba(211, 142, 230, 0.1647058824);
}
.how-item:hover i {
  color: #9356DC;
}
.how-item span {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
  left: -10px;
}
.how-item i {
  margin-left: 15px;
  margin-right: 20px;
  color: #565656;
}

#restaurants {
  padding: 25px;
  width: 67%;
  order: 1;
  background: #f5f5f5;
  border-radius: 20px;
}

.card-deck {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-deck .card:hover {
  cursor: pointer;
  box-shadow: 1px 2px 8px #888888;
}

.card {
  width: 48%;
  border-radius: 10px;
  margin-top: 25px;
  display: block;
}

.card-img {
  position: relative;
  height: 180px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-img span {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99e2d0;
  color: #008766;
  padding: 10px 25px;
}

.card-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  align-items: center;
  background: #fff;
}

.wishlist {
  position: relative;
  font-size: 20px;
}
.wishlist .full {
  display: none;
}
.wishlist:hover .empty {
  display: none;
  cursor: pointer;
}
.wishlist:hover .full {
  display: block;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

#footer {
  padding: 25px;
  background: #353535;
}
#footer ul {
  line-height: 1.8;
  display: flex;
  justify-content: space-between;
}
#footer ul li a {
  color: #fff;
}

.footer-logo {
  width: 120px;
}
.footer-logo img {
  width: 100%;
  filter: brightness(50);
  margin-bottom: 20px;
}

/*mobile*/
@media only screen and (max-width: 768px) {
  body {
    background: #f5f5f5;
  }
  #top {
    box-shadow: 0px 10px 10px -15px #000;
  }
  #booking {
    background: #f6f6f6;
  }
  #location {
    border-radius: 0;
  }
  #how {
    background: #fff;
    width: 100%;
    order: 1;
    border-radius: 0;
  }
  #restaurants {
    width: 100%;
    order: 2;
    border-radius: 0;
  }
  .card {
    width: 100%;
  }
  .menu-section {
    width: 100% !important;
  }
  .details {
    margin-top: -45px;
    border-radius: 50px 50px 0px 0px;
  }
  #footer ul {
    line-height: 1.8;
    display: block;
  }
}
/*end of media query*//*# sourceMappingURL=style.css.map */